@model Storm.InterviewTest.Hearthstone.Models.DeckBuilderBrowseViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Deck Builder</h1>

<div class="panel panel-default">
    <div class="panel-heading">My Decks</div>
    <div class="panel-body">
        <ul class="list-inline">
            @foreach (var deck in Model.Decks)
            {
                <li>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("ViewDeck", "MyDecks", new { name = deck.Name})"><img class="img-responsive img-thumbnail" src="@deck.HeroModel.ImageUrl" alt="@deck.HeroModel.Name" title="@deck.HeroModel.Name" /></a>
                        </div>
                        <div class="col-md-12 text-center">
                            <b>@deck.Name</b>
                            <span class="label label-default">@deck.HeroModel.PlayerClassText</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
</div>
    <div class="panel-heading">Create A Deck</div>
    <div class="panel-body">
        <p>Choose A Hero to begin building a deck</p>
        <ul class="list-inline">
            @foreach (var hero in Model.Heroes)
            {
                <li>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("Create", "MyDecks", new { id = hero.Id })"><img class="img-responsive img-thumbnail" src="@hero.ImageUrl" alt="@hero.Name" title="@hero.Name" /></a>
                        </div>
                        <div class="col-md-12 text-center">
                            <span class="label label-default">@hero.PlayerClassText</span>
                        </div>
                    </div>
                </li>
            }
        </ul>

    </div>
</div>
